@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body {
  color: #333;
  margin: 0;
  /* overflow-y: hidden; */
  box-sizing: border-box;
  font-family: "Roboto";
}
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #797979;
}
a:visited {
  color: rgb(48, 48, 48);
}
